html {
    scroll-behavior: smooth;
   }
body {
    max-width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@keyframes enter {
from {
    opacity: 0;
    transform: translateX(-100%);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}
  
  @keyframes exit {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .page-enter {
    animation: enter 0.3s ease-in-out;
  }
  
  .page-exit {
    animation: exit 0.3s ease-in-out;
  }


/*2016
2240*/
/*
@media screen and (max-width: 1920px) {
    #entrance-img {
        background-size: 1920px auto;
        background-position: 50% 36%;

    }
}    
@media screen and (max-width: 1600px) {
    #entrance-img {
        background-size: 1600px auto;
        background-position: 50% 36%;

    }
} 
@media screen and (max-width: 1200px) {
    #entrance-img {
        background-size: 1200px auto;
        background-position: 50% 36%;

    }
} 
@media screen and (max-width: 900px) {
    #entrance-img {
        background-size: 900px auto;
        background-position: 50% 36%;

    }
} 
@media screen and (max-width: 600px) {
    #entrance-img {
        background-size: 700px auto;
        background-position: 50% 36%;

    }
} 
@media screen and (max-width: 400px) {
    #entrance-img {
        background-size: 400px auto;
        background-position: 50% 36%;

    }
} */